<%= form_for [@story, @component] do |f| %>
  <%= f.label :user %>
  <%= f.text_field :user, class: "form-control" %>
  <%= f.label :text %>
  <%= f.text_area :text, class: "form-control" %>
  <%= f.hidden_field :image_id, :value => @image.id %>
  <p><%= f.submit class: "btn btn-default" %></p>
<% end %>
